<div class="body">

    <div class="brand"><h1>NeoBivago</h1></div>

    <div class="btn_header">
        <button class="btn btn-success"     *ngIf="buttons"     (click)="relocateSignUp()">Sign Up</button>
        <button class="btn btn-success"     *ngIf="buttons"     (click)="relocateSignIn()">Sign In</button>
        <button class="btn btn-primary"     *ngIf="!buttons">My Reservations</button>
        <button class="btn btn-primary"     *ngIf="!buttons">Settings</button>
        <button class="btn btn-secondary"   *ngIf="!buttons">Sign Out</button>
    </div>    

</div>
