.body {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    text-align: center;
    position: fixed;    
    border: 10px;
    border-radius: 8px;
    text-shadow: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
