<app-header></app-header>
<app-footer></app-footer>
<router-outlet></router-outlet>


<!-- <table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Hotel</th>
            <th>Address</th>
            <th>City</th>
            <th>Category</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Score</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let r of roomList; index as i">
            <td>{{i + 1}}</td>
            <td>Hotel</td>
            <td>Address</td>
            <td>City</td>
            <td>{{r.type}}</td>
            <td>{{r.capacity}}</td>
            <td>{{r.price}}</td>
            <td>Score</td>
            <td><button class="btn btn-success">Reservation</button></td>
        </tr>
    </tbody>
</table> -->