.body {
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    flex-direction: column;
}

form {    
    width: 500px;
    margin: 30px auto;
}

input {
    margin-bottom: 10px;
}

table {
    background-color: rgb(82, 82, 82);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 500px;
}